/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --article-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #FF0070;
  --text-color: #000028;
  --header-color: #db00ff;
  --hover-color:  #ff007080;
  --active-color: #ff0070;
  --focus-color: #ff0070;
}

.theme-dark .page {
  .rec {
    display: flex;
  }
}