/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFC2E6;
  --article-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --text-color: #353430;
  --header-color: #FFC2E6;
  --hover-color:  #35343066;
  --active-color: #353430;
  --focus-color: #353430;
}

.theme-light .page {
  .rec {
    display: none;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFC2E6;
    --article-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --text-color: #353430;
    --header-color: #FFC2E6;
    --hover-color:  #35343066;
    --active-color: #353430;
    --focus-color: #353430;
}

  .rec {
    display: none;
  }
} 